.u-section-1 .u-sheet-1 {
  min-height: 403px;
}

.u-section-1 .u-text-1 {
  margin: 43px 247px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  width: 388px;
  margin: 23px 376px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 18px 247px 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 23px auto 43px 474px;
  padding: 11px 24px 11px 23px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 147px;
    margin-right: 147px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 276px;
    margin-right: 276px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 147px;
    margin-right: 147px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 274px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 166px;
    margin-right: 166px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 37px;
    margin-right: 37px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 54px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-left: 76px;
    margin-right: 76px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-2 {
    width: 340px;
    margin-left: 0;
    margin-right: 0;
  }
}

.u-section-2 .u-sheet-1 {
  min-height: 817px;
}

.u-section-2 .u-text-1 {
  margin: 11px 243px 0 251px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 26px 372px 0 380px;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 18px 251px 0 243px;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 2px;
  margin: 26px auto 60px;
  padding: 12px 24px 12px 23px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 143px;
    margin-left: 151px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 272px;
    margin-left: 280px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 151px;
    margin-left: 143px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 33px;
    margin-left: 41px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 162px;
    margin-left: 170px;
  }

  .u-section-2 .u-text-3 {
    margin-right: 41px;
    margin-left: 33px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 72px;
    margin-left: 80px;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.1111111111111112rem;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}